/* body{
    background-image: url('./Assets/one.jpeg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover ;
}

*/
.center{
    margin-left: 46%;;
}


.head{
    
     font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}
.heading {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.rem6{
    font-size: 5rem;
}  

a{
    color: white;
    font-size: 3rem;
}

a:hover{
    transform: scale(1.5);
    transition: .5s ease-in-out;
}

.bar{
    width: 50%;
    height: 20px;
    background-color: wheat;
    border-radius: 15px;
}
/* .bar2{
    width: 50%;
    height: 20px;
    background-color: wheat;
    border-radius: 15px;
} */

.circle{
    border-radius: 50%;
    background-color: rgb(110, 183, 201);
    font-size: 1rem;
    padding-top: 3px;
    padding-left : 6px;padding-right: 6px;
    /* padding-bottom: 20px; */
    position: relative;
    bottom: 5px;
    right: 20px;
    width: 40px;
    height: 33px;
    font-weight: 600;
    border: 3px solid green;
}

@media screen and (max-width: 550px) {
.shrink{
    font-size: 4rem;
}
.shrink2{
    font-size: 1.5rem;
}
.shrink3{
    font-size: 2.5rem;
}

.center{
    margin-left: 32%;
}

.sym{
    font-size: 2rem;
}

.bar{
    width: 60%;
    height: 10px;
}

.bar2{
    height: 10px;
}

.circle{
    width: 30px;
    height: 25px;
    font-size: 0.75rem;
    border: 1px solid rgb(29, 178, 29);
}
.sym{
    margin-left: 15px;
}
} 