body{
    background-image: url('./Assets/gate.jpeg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover ;
}
@media screen and (max-width: 400px) {
  body{
    background-size: 400%;
  }
}

.animate-spin{
  animation: spin 1.8s linear infinite;
  z-index: 10;
}

.relative{
  bottom: 20%;
}